h1 {
    text-transform: uppercase;
    font-size: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

p::first-letter {
    text-transform: uppercase;
}

p:hover {
    text-decoration: none;
}

.primary-list {
    list-style: none;
    padding: 0;
    text-align: center;
}

.primary-list img {
    display: block;
    margin: 0 auto;
}

.primary-list li {
    margin-bottom: 20px;
}